/* VButton.scss */
@import '../styles/variables/colors.scss';
@import '../styles/variables/fonts.scss';
@import '../styles/variables/icons.scss';

.v-button {
  padding: 10px 18px;
  background-color: var(--v-primary-indigo-600);
  font-family: var(--v-font-inter-semi-bold);
  line-height: 24px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px;

  &--block {
    width: 100%;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  // Sizes
  &--sm {
    font-size: 12px;
    padding: 5px 10px;
  }

  &--md {
    font-size: 16px;
    padding: 10px 16px;
  }

  &--lg {
    font-size: 20px;
    padding: 15px 22px;
  }

  &--xl {
    font-size: 24px;
    padding: 20px 26px;
  }

  &--xxl {
    font-size: 28px;
    padding: 25px 30px;
  }

  // Styles
  &--primary {
    background-color: var(--v-primary-indigo-600);
    color: #fff;

    &:hover {
      background-color: var(--v-primary-indigo-700);
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &--secondary {
    background-color: var(--v-primary-indigo-100);
    border: 1px solid var(--v-primary-indigo-200);
    color: var(--v-primary-indigo-700);

    &:hover {
      background-color: var(--v-primary-indigo-200);
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &--outlined {
    border: 1px solid var(--v-gray-300);
    background-color: #fff;
    color: var(--v-gray-900);
  }

  &--outlined {
    border: 1px solid var(--v-gray-300);
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    &:hover {
      background-color: var(--v-gray-100);
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &--important {
    background-color: var(--v-important-color);
    color: #fff;
  }

  &--crucial {
    background-color: var(--v-crucial-color);
    color: #fff;
  }

  &--simple-icon {
    border: none;
    background: none;
    padding: 5px 10px;
    position: relative;
  }

  &--icon-left,
  &--icon-right {
    i {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  // Icon positions
  &--icon-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 8px;
    }
  }

  &--icon-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-left: 8px;
    }
  }

  // Icons
  .arrow-left {
    width: 12px;
    height: 12px;
    background-image: url(../../assets/icons/icon-arrow-left.svg);
  }

  .arrow-right {
    width: 12px;
    height: 12px;
    background-image: url(../../assets/icons/icon-arrow-right.svg);
  }

  .save {
    /* styles for save icon */
  }

  .preview {
    /* styles for preview icon */
  }

  .edit {
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icons/icon-quit-edit.svg);
  }

  .edit--2 {
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icons/icon-edit-2.svg);
  }

  .delete {
    width: 15px;
    height: 16px;
    background-image: url(../../assets/icons/icon-delete.svg);
  }

  .add {
    width: 12px;
    height: 12px;
    background-image: url(../../assets/icons/icon-plus.svg);
  }

  .add-white {
    width: 12px;
    height: 12px;
    background-image: url(../../assets/icons/icon-plus--white.svg);
  }

  .copy {
    /* styles for copy icon */
  }

  .upload {
    /* styles for upload icon */
  }

  .share {
    /* styles for share icon */
  }

  .share {
    /* styles for share icon */
  }

  .google {
    width: 24px;
    height: 24px;
    background-image: url(../styles/icons/google.svg);
  }

  .v-button-loader {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}