@import '@/components/styles/variables/fonts.scss';
@import '@/components/styles/variables/colors.scss';

.dashboard {
  width: 100%;
  padding: 32px 24px;

  .container-fluid {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    padding: 0;
    margin: 0;
  }
  
  &__heading {
    width: 100%;
    margin: 0 0 32px;
    text-align: left;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.875rem;
      font-weight: 600;
      font-family: var(--v-font-inter-semi-bold);
    }

    p {
      margin: 5px 0 0;
      padding: 0;
      font-family: var(--v-font-inter-regular);
      color: var(--v-gray-600);
    }
  }

  &__users {
    width: 100%;
    margin: 0;
    padding: 0;

    &__head {
      h5 {
        font-size: .75rem;
        margin: 12px 0;
        padding: 0;
        text-align: left;
        font-family: var(--v-font-inter-medium);
        color: var(--v-gray-600);
      }

      .first-col {
        display: flex;

        input[type=checkbox] {
          margin: 0 12px 0 0;
        }
      }
    }

    &__page {
      &__item {
        border-top: 1px solid var(--v-gray-200);
      }
    }
  }

  .bottom-pagination {
    padding: 14px 0 0;
    margin: 0 -24px;
    border-top: 1px solid var(--v-gray-200);

    .align-left {
      text-align: left;

      button {
        margin: 0 auto 0 0;
      }
    }

    .align-center {
      text-align: center;
    }

    .align-right {
      text-align: right;

      button {
        margin: 0 0 0 auto;
      }
    }
  }
}