@import '@/components/styles/variables/fonts.scss';
@import '@/components/styles/variables/colors.scss';

.dashboard {
  width: 100%;
  padding: 32px 24px;

  .container-fluid {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    padding: 0;
    margin: 0;
  }
  
  &__heading {
    width: 100%;
    margin: 0 0 32px;
    text-align: left;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.875rem;
      font-weight: 600;
      font-family: var(--v-font-inter-semi-bold);
    }

    p {
      margin: 5px 0 0;
      padding: 0;
      font-family: var(--v-font-inter-regular);
      color: var(--v-gray-600);
    }
  }

  &__users {
    width: 100%;
    margin: 0;
    padding: 0;

    &__head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 13px;

      h5 {
        font-size: .75rem;
        margin: 12px 0;
        padding: 0;
        text-align: left;
        font-family: var(--v-font-inter-medium);
        color: var(--v-gray-600);
      }
    }

    &__page {
      
      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 13px;
        border-top: 1px solid var(--v-gray-200);

        &:nth-child(even) {
          background: var(--v-gray-100);
        }
      }
    }

    .col{
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      flex: 0 0 auto;
      position: relative;

      &--checkbox {
        width: 15px;
        flex: 0 0 1;
      }

      &--cm-user {
        width: 300px;
      }

      &--cm-phone {
        width: 200px;
      }

      &--cm-position {
        width: 160px;
      }

      &--cm-company {
        width: 200px;
      }

      &--cm-address {
        flex: 1 1 0;
      }

      &--cm-action {
        width: 45px;
        margin-right: 0;

        button {
          margin: auto;
        }
      }

      &--sett-t-user {
        flex: 1 1 0;
      }

      &--sett-t-status {
        width: 300px;
      }

      &--sett-t-position {
        width: 300px;
      }

      &--sett-t-role {
        width: 300px;
      }

      &--sett-t-action {
        width: 45px;
        margin-right: 0;

        button {
          margin: auto;
        }
      }

      p {
        margin: 0;
        padding: 0;
        font-size: .875rem;
        padding: 0;
        text-align: left;
        font-family: var(--v-font-inter-regular);
        color: var(--v-gray-600);
      }
    }
  }

  .bottom-pagination {
    padding: 14px 0 0;
    margin: 0 -24px;
    border-top: 1px solid var(--v-gray-200);

    .align-left {
      text-align: left;

      button {
        margin: 0 auto 0 0;
      }
    }

    .align-center {
      text-align: center;
    }

    .align-right {
      text-align: right;

      button {
        margin: 0 0 0 auto;
      }
    }
  }
}