@import '@/components/styles/fonts.scss';
@import '@/components/styles/variables/colors.scss';

.forgot-part {
  max-width: 360px;
  margin: 0 auto;

  h2 {
    font-family: var(--v-font-inter-semi-bold);
    color: var(--v-gray-900);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }

  h4 {
    font-family: var(--v-font-inter-regular);
    color: var(--v-gray-600);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .input-group {
    input.mr-8p {
      margin-right: 8px;
    }

    label {
      color: var(--v-gray-700);
      font-family: var(--v-font-inter-medium);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .v-input-group {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .error-message {
    color: var(--v-red-500);
    font-size: 0.875rem;
    margin-top: 0.35rem;
  }

  .signup-wrap {
    span {
      font-family: var(--v-font-inter-regular);
      color: var(--v-gray-600);
      font-size: 14px;
      line-height: 20px;
      margin-right: 8px;
    }
  }
}