@import '@/components/styles/fonts.scss';
@import '@/components/styles/variables/colors.scss';

.set-new-password-part {
  max-width: 360px;
  margin: 0 auto;

  h2 {
    font-family: var(--v-font-inter-semi-bold);
    color: var(--v-gray-900);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }

  h4 {
    font-family: var(--v-font-inter-regular);
    color: var(--v-gray-600);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .password-validation {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      .icon-container {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 8px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: var(--v-gray-600);
        position: relative;

        &--default {
          background-color: var(--v-gray-300);
        }

        &--valid {
          background-color: var(--v-green-500);
        }

        &--default,
        &--valid {
          i {
            width: 8px;
            height: 6px;
            display: inline-block;
            background-image: url(../../components/styles/icons/checked-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &--invalid {
          background-color: var(--v-red-500);

          i {
            width: 12px;
            height: 12px;
            display: inline-block;
            background-image: url(../../components/styles/icons/close-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .valid .icon-container {
        background-color: green;
      }
      
      .invalid .icon-container {
        background-color: red;
      }
      
      .default .icon-container {
        background-color: grey;
      }
      
      .icon--check::before {
        content: '✔'; /* Unicode check mark */
      }
      
      .icon--cross::before {
        content: '✖'; /* Unicode cross mark */
      }
      
      .icon--default::before {
        content: ''; /* No content in default state */
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}