@import '@/components/styles/variables/fonts.scss';
@import '@/components/styles/variables/colors.scss';

.settings {
  &__team-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}