.dropdown {
  .v-button {
    color: var(--v-gray-900);
    font-family: var(--v-font-inter-medium);
    font-weight: 500;

    &::after {
      content: "";
      width: 10px;
      height: 5px;
      border: none;
      margin-left: 20px;
      background-image: url('@/assets/icons/icon-dropdown.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  ul {
    width: 100%;
    
    li {
      margin: 0;
      padding: 0 7px;
      border-radius: 6px;
      overflow: hidden;

      a {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 6px;
      }
    }
  }
}