.modal-edit {
  

  .modal-content {
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(../../assets/backgrounds/decor-modal-small.svg);
    box-shadow: 0px 8px 8px -4px #10182808;
    box-shadow: 0px 20px 24px -4px #10182814;
    padding: 0 24px;

    .modal-header {
      border-bottom: 0;
      position: relative;
      margin: 0;
      padding: 0;

      &::before {
        content: "";
        display: inline-block;
        width: 48px;
        height: 48px;
        border: 1px solid var(--v-gray-200);
        border-radius: 6px;
        background-image: url(../../assets/icons/icon-flag.svg);
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 24px;
        left: 0;
      }
      
      .modal-title {
        display: inline-block;
        width: 100%;
        text-align: left;
        font-family: var(--v-font-inter-semi-bold);
        font-size: 18px;
        font-weight: 600;
        color: var(--v-gray-900);
        padding: 0;
        margin: 88px 0 0;
      }

      .btn-close {
        width: 12px;
        height: 12px;
        background-image: url(../../assets/icons/icon-close.svg);
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: center center;
        display: inline-block;
        position: absolute;
        top: 28px;
        right: 0;
        cursor: pointer;
        font-size: 0;
        border: none;
        outline: none;
        color: inherit;
      }
    }

    .modal-body {
      width: 100%;
      margin: 24px;
      padding: 0;
      text-align: left;
    }

    .modal-footer {
      border-top: 0;
      position: relative;
      margin: 24px 0;
      padding: 0;

      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          width: calc(50% - 6px);

          button {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}