.v-file {
  display: flex;
  align-items: center;
  text-align: left;

  &__icon {
    margin-right: 10px;
    width: 34px;
    height: 40px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &--red {
      background-image: url('@/assets/filetypes/file--red.svg');
    }

    &--blue {
      background-image: url('@/assets/filetypes/file--blue.svg');
    }

    &--pdf {
      background-image: url('@/assets/filetypes/file--pdf.svg');
    }

    &--doc {
      background-image: url('@/assets/filetypes/file--doc.svg');
    }

    &--docx {
      background-image: url('@/assets/filetypes/file--docx.svg');
    }
  }

  &__name {
    margin: 0;
    padding: 0;
    font-family: var(--v-font-inter-medium);
    font-size: 14px;
    color: var(--v-gray-900);
  }

  &__size {
    margin: 0;
    font-family: var(--v-font--regular);
    font-size: 14px;
    color: var(--v-gray-900);
  }
}