.files-uploader {
  font-family: var(--v-font-inter-semi-bold);
  font-size: 12px;
  color: var(--v-gray-700);

  input {
    &::file-selector-button {
      border-radius: 6px;
      padding: 0 16px 0 35px;
      height: 40px;
      cursor: pointer;
      border: 1px solid var(--v-gray-200);
      background-color: var(--v-gray-100);
      background-image: url(../../assets/icons/icon-upload.svg);
      background-position: 8px 11px;
      background-repeat: no-repeat;
      font-family: var(--v-font-inter-semi-bold);
      color: var(--v-gray-700);
      margin-right: 10px;
    }

    &::file-selector-button:hover {
      background-color: var(--v-gray-200);
    }

    &::file-selector-button:active {
      background-color: var(--v-gray-200);
    }
  }

  .image-preview {
    margin: 10px 0 0 0;
    border-radius: 8px;
    overflow: hidden;
  
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .file-preview {
    margin: 10px 0 0 0;
    border-radius: 8px;
    background: var(--v-gray-200);
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: left;

    &__item {
      max-width: 75px;
      max-height: 75px;
      width: auto;
      display: inline-block;

      .image-preview {
        width: 95px;
        height: 115px;
        border-radius: 8px;
        background: var(--v-gray-100);
        border: 1px solid var(--v-gray-200);
        padding: 15px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          max-width: 75px;
          max-height: 75px;
          width: auto;
          height: auto;
        }

        span {
          width: 75px;
          display: inline-block;
          color: var(--v-primary-indigo-700);
          text-align: center;
          text-transform: uppercase;
        }
      }

      .file-preview {
        width: 95px;
        border-radius: 8px;
        background: var(--v-gray-100);
        border: 1px solid var(--v-gray-200);
        padding: 15px 10px;
        text-align: center;

        span {
          width: 45px;
          display: inline-block;
          color: var(--v-primary-indigo-700);

          &::before {
            content: "";
            width: 45px;
            height: 55px;
            display: inline-block;
            margin: 0 auto 10px auto;
            background-image: url(../../assets/icons/icon-attachment.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}