.search-widget {
  input {
    padding-left: 42px;
    background-repeat: no-repeat;
    background-image: url('@/assets/icons/icon-search.svg');
    background-position: 15px center;
    background-size: 15px auto;
  }
}