.my-tasks {
  width: 100%;
  text-align: left;
  
  h3 {
    margin: 0;
    padding: 0;
    font-family: var(--v-font-inter-semi-bold);
    font-size: 18px;
    font-weight: 600;
    color: var(--v-gray-900);
  }

  &__wrapper {
    width: 100%;
    margin: 16px 0 0 0;
    padding: 32px;
    border: 1px solid var(--v-gray-200);
    border-radius: 12px;
    text-align: left;
    box-shadow: 0px 1px 2px 0px #1018280D;

    p {
      text-align: center;
    }

    &__summary {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 0 0 24px;
      padding: 0;
      list-style-type: none;
    }

    &__item {
      width: 100%;
      padding: 24px 0 16px 0;
      border-top: 1px solid var(--v-gray-200);

      &__top {
        width: 100%;
        margin: 0 0 8px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        h4 {
          margin: 0;
          padding: 0;
          font-family: var(--v-font-inter-medium);
          font-size: 16px;
          font-weight: 500;
          color: var(--v-gray-900);
        }

        button {
          margin-right: 0!important;
          padding: 0;
        }
      }

      &__bottom {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        .v-link {
          font-family: var(--v-font-inter-medium);
          font-weight: 500;
        }
      }
    }
  }
}