@import '@/components/styles/variables/colors.scss';
@import '@/components/styles/variables/fonts.scss';

.v-link {
  font-family: var(--v-font-inter-semi-bold);
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &--block {
    width: 100%;
    padding: 10px 16px;
  }

  &--primary {
    color: var(--v-primary-indigo-700);
  }

  &--alternate {
    background-color: var(--v-primary-indigo-100);
    border: 1px solid var(--v-primary-indigo-200);
    border-radius: 8px;
    color: var(--v-primary-indigo-700);

    &:hover {
      background-color: var(--v-primary-indigo-200);
      text-decoration: none;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &--secondary {
    color: var(--v-gray-600);
  }

  &--important {
    color: var(--v-important-color);
  }

  &--crucial {
    color: var(--v-crucial-color);
  }

  &--icon-left,
  &--icon-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &--icon-left i {
    margin-right: 8px;
  }

  &--icon-right i {
    margin-left: 8px;
  }


  // Icon positions
  &--icon-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 6px;
    }
  }

  &--icon-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      margin-left: 6px;
    }
  }

  // Icons
  .arrow-left {
    width: 20px;
    height: 20px;
    background-image: url(../styles/icons/back-icon.svg);
  }

  .google {
    width: 24px;
    height: 24px;
    background-image: url(../styles/icons/google.svg);
  }

  .home {
    width: 18px;
    height: 19px;
    background-image: url(../../assets/icons/icon-home.svg);
  }

  .boards {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/icons/icon-boards.svg);
  }

  .clients {
    width: 20px;
    height: 18px;
    background-image: url(../../assets/icons/icon-clients.svg);
  }

  .library {
    width: 16px;
    height: 20px;
    background-image: url(../../assets/icons/icon-library.svg);
  }

  .invoices {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/icons/icon-invoices.svg);
  }

  .calendar {
    width: 18px;
    height: 20px;
    background-image: url(../../assets/icons/icon-calendar.svg);
  }

  .chat {
    width: 18px;
    height: 18px;
    background-image: url(../../assets/icons/icon-chat.svg);
  }

  .settings {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/icons/icon-settings.svg);
  }

  .logout {
    width: 15px;
    height: 15px;
    background-image: url(../../assets/icons/icon-logout.svg);
  }

  .add {
    width: 12px;
    height: 12px;
    background-image: url(../../assets/icons/icon-plus.svg);
  }

  .add-blue {
    width: 12px;
    height: 12px;
    background-image: url(../../assets/icons/icon-plus--blue.svg);
  }

  .tag {
    width: 14px;
    height: 14px;
    background-image: url(../../assets/icons/icon-tag.svg);
  }
}