@font-face {
    font-family: 'Inter Regular';
    src: url('../styles/fonts/Inter-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter Black';
    src: url('../styles/fonts/Inter-Black.ttf')
        format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter Bold';
    src: url('../styles/fonts/Inter-Bold.ttf')
        format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter Semi Bold';
    src: url('../styles/fonts/Inter-SemiBold.ttf')
        format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter Extra Bold';
    src: url('../styles/fonts/Inter-ExtraBold.ttf')
        format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter Medium';
    src: url('../styles/fonts/Inter-Medium.ttf')
        format('truetype');
    font-weight: 500;
    font-style: normal;
  }