/* color variables*/

:root{
    --v-primary-indigo-700:#3538CD;
    --v-primary-indigo-600: #444CE7;
    --v-primary-indigo-200:#C7D7FE;
    --v-primary-indigo-100:#EEF4FF;
    --v-gray-900:#101828;
    --v-gray-800: #1D2939;
    --v-gray-700: #344054;
    --v-gray-600:#475467;
    --v-gray-500:#667085;
    --v-gray-300:#D0D5DD;
    --v-gray-200:#F2F4F7;
    --v-gray-100:#F9FAFB;
    --v-green-700:#067647;
    --v-green-500:#17B26A;
    --v-green-200:#ABEFC6;
    --v-green-100:#DCFAE6;
    --v-green-50:#ECFDF3;
    --v-orange-700:#B54708;
    --v-orange-200:#FEDF89;
    --v-orange-100:#FEF0C7;
    --v-orange-50:#FFFAEB;
    --v-red-500:#F04438;
    --v-red-400:#F97066;
    --v-red-100:#FEE4E2;
    --v-red-50:#FEF3F2;
    --v-white:#FFFFFF;
}