/* color variables*/

:root{
    --v-primary-indigo-700:#3538CD;
    --v-primary-indigo-600: #444CE7;
    --v-primary-indigo-200:#C7D7FE;
    --v-gray-900:#101828;
    --v-gray-700: #344054;
    --v-gray-600:#475467;
    --v-gray-500:#667085;
    --v-gray-300:#D0D5DD;
}
