@import '../fonts.scss';
:root{
    --v-font-inter-regular:'Inter Regular', sans-serif;
    --v-font-inter-black:'Inter Black', sans-serif;
    --v-font-inter-bold:'Inter Bold', sans-serif;
    --v-font-inter-semi-bold:'Inter Semi Bold', sans-serif;
    --v-font-inter-extra-bold:'Inter Extra Bold', sans-serif;
    --v-font-inter-medium:'Inter Medium', sans-serif;
    
}
