.vilo-user {
  width: 100%;
  display: flex;

  &__avatar {
    margin-right: 12px;

    img {
      border-radius: 55%;
      border: 1px solid var(--v-gray-900);
    }
  }

  &__info {
    flex-grow: 1;

    span {
      display: block;
      text-align: left;
      font-size: .875rem;
    }

    &__name {
      font-weight: 600;
      color: var(--v-gray-900);
      font-family: var(--v-font-inter-semi-bold);
    }

    &__email {
      color: var(--v-gray-600);
      font-family: var(--v-font-inter-regular);
    }
  }
}